.app-container {
  display: flex;
  height: 98vh;
  width: 98vw;
  margin: 1vh 1vw;
  gap: 16px;
  position: relative;
  align-items: center;
}

.content-area {
  flex: 1;
  height: 100%;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.content-area::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column-reverse;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
    gap: 8px;
  }
}
