.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  gap: 16px;
  position: relative;
  align-items: center;
}

.content-area {
  flex: 1;
  height: 100%;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.content-area::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    margin: 0;
    gap: 8px;
    align-items: stretch;
  }
}